@font-face {
  font-family: hoftype;
  src: url("../fonts/hoftype.otf");
}

@font-face {
  font-family: curveUltra;
  src: url("../fonts/Curve-UltraBold-Italic.otf")
}

@font-face {
  font-family: codeNextBold;
  src: url("../fonts/codeNextExtraBold.otf")
}
@font-face {
  font-family: Kinetika;
  src: url("../fonts/KinetikaUltra.otf")
}
@font-face {
  font-family: Domotika;
  src: url("../fonts/DomotikaMediumItalic.otf")
}
@font-face {
  font-family: Kern;
  src: url("../fonts/KernMedium.otf")
}
@font-face {
  font-family: KernBold;
  src: url("../fonts/KernBold.otf")
}

* {
  font-family: 'codeNextBold';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root{
  --blueoptional: #134e85;
  --blue: #5A5AE1;
  --skyblue: rgb(167, 190, 192);
  --yellow: #f9DE93;

}
