@font-face {
  font-family: hoftype;
  src: url("../fonts/hoftype.otf");
}

@font-face {
  font-family: curveUltra;
  src: url("../fonts/Curve-UltraBold-Italic.otf")
}

@font-face {
  font-family: codeNextBold;
  src: url("../fonts/codeNextExtraBold.otf")
}
@font-face {
  font-family: Kinetika;
  src: url("../fonts/KinetikaUltra.otf")
}

* {
  font-family: 'codeNextBold';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root{
  --blueoptional: #134e85;
  --blue: #5A5AE1;

}
